<%= form_for(@remove) do |f| %>
  <% if @remove.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remove.errors.count, "error") %> prohibited this remove from being saved:</h2>

      <ul>
      <% @remove.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :String %><br>
    <%= f.text_field :String %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
